
.login-head{
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 19px;
    color: #260606bf;
}

.login-inp{
    width: 255px;
    margin-bottom: 19px;
    height: 32px;
    font-size: 18px;
    border-radius: 13px;
}

.login-container{
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 20.8696px;
    margin-left: 24px;
    padding: 55px;
    border-radius: 30px;
}

.login-btn{
    width: 225px;
    height: 35px;
    border-radius: 13px;
    border: none;
    background: #0000004f;
}

.login-btn:hover{
    background: #00000078;
}
